<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Page Not Found</title>
</head>
<body>

    {% extends "template.html" %}

    {% block content %}

    <div class="jumbotron container align-middle">
        <h1 class="text-center text-dark">Page Not Found</h1>
        <br><br>
        <div class="container">
            <h3>Oops! Looks like the page doesn't exist anymore</h3>
            <p><a href="/">Click Here</a> to go to the Home Page</p>
        </div>
    </div>

    {% endblock %}

</body>
</html>