<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>

    {% extends "template.html" %}

    {% block content %}

    <div class="jumbotron container align-middle">
        <h1 class="text-center">Contact</h1>
        <br><br>
        <div class="container d-flex">
            <div>
                <h3 class="text-center text-dark">Harsh Chaplot</h3>
                <br>
                <p class="font-large">
                    I am student of Institute of Technology, Nirma University currently pursuing B.Tech IT. To contact me email on 17bit026@nirmauni.ac.in.
                </p>
            </div>
            <div>
                <h3 class="text-center">Kandarp Kakkad</h3>
                <br>
                <p class="font-large">
                    I am student of Institute of Technology, Nirma University currently pursuing B.Tech IT. To contact me email on 17bit034@nirmauni.ac.in.
                </p>
            </div>
        </div>
    </div>

    {% endblock %}

</body>
</html>