<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid 19 Data Extractor</title>
</head>
<body>

    {% extends "template.html" %}

    {% block content %}

    <div class="jumbotron container">
        <h1 class="text-center">Select State</h1>
        <br><br>
        <div class="container text-center">
            <form action="" method="POST">
                <select name="state" id="state">
                    {% for state in data %}
                        <option value="{{ state }}">{{ state }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <input class="btn-upload" type="submit" name="submit" id="submit">
            </form>
        </div>
    </div>
    {% endblock %}
</body>
</html>